.homeContainer {
  position: relative;
  width: 100%;
  height: 100vh; /* Altura completa de la ventana */
  overflow: hidden;
  margin: 0; /* Elimina cualquier margen inesperado */
}

.videoFondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Para que quede detrás del contenido */
}

.contenido {
  position: relative;
  z-index: 1;
  color: white; /* Para que el texto sea legible */
  text-align: center;
  padding-top: 20vh; /* Para bajar un poco el contenido desde arriba */
}
