.homeContainer {
  position: relative;
  width: 100%;
  height: 70vh; /* 70% del alto de la pantalla */
  overflow: hidden;
}

.videoFondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.contenido {
  position: relative;
  z-index: 1;
  color: white; /* Para que el texto sea legible */
  text-align: center;
  padding-top: 20vh; /* Para bajar un poco el contenido desde arriba */
}
