main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ocupa toda la altura visible */
  padding: 1rem;
  box-sizing: border-box;

}

main img {
  max-width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
}

