.cias {
  /* border: 2px blue solid; */
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: space-evenly;
}

.cias img {
  width: 22%;
  height: auto;
  filter: grayscale(100%);
  /* blanco y negro */
  transition: filter 0.4s ease;
  /* suaviza el cambio */
}
.cias img:hover {
  filter: grayscale(0%); /* vuelve al color */
  cursor: pointer;
}