footer {
  color: rgb(0, 0, 0);
  display: flex;
  /* flex-direction: column; */
  /* height: 10vw; */
  padding: 3vw 0vw;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  /* bottom: 0; */
  background-color: rgb(152, 147, 142);
}

.footerIzq{
  color: aliceblue;
  display: flex;
  line-height: 0.5;
  font-size: 2vw;
}
.footerIzq a{
  text-decoration: none;
  color: aliceblue;
}
.footerMedio img{
  width: 30vw;
}


@media (max-width: 576px) {}