footer {
  display: flex;
  /* margin-top: 0.3vw; */
  padding: 0.5vw 2vw;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  background-color: rgb(26, 26, 26);
  color: rgb(193, 189, 183);
}

.footerIzq {
  /* text-align: center;   */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1vw;
  /* border: 2px green dashed; */
  height: 100%;
  /* border: red dashed 2px; */
}

.footerIzq .nombre h1 {
  font-size: 1.8vw;
}

.footerIzq .nombre h6 {
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;

}

.footerIzq .mail {
  /* border: green 2px dashed; */
  /* text-align: center; */
  font-size: 1.2vw;
}

.footerIzq a {
  text-decoration: none;
  color: rgb(144, 143, 143);
}

.footerIzq .whatsApp {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: .5vw;
  font-size: 1.1vw;
  font-family: Arial, Helvetica, sans-serif;
}

.footerIzq .direcciones {
  /* border: red 2px solid; */
  font-size: .85vw;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  gap: .5vw;
}


.footerMedio {
  /* border: red 2px dashed; */
  width: 30%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  gap: 1vw;
}

.footerMedio i {
  font-size: 2.5vw;
  
}

.footerDer {
  display: flex;
  flex-direction: column;
  gap: 1vw
}

.footerDer img {
  width: 15vw;
  filter: brightness(0.8) invert(0);
}

.footerDer p {

  text-align: center;
  font-size: 1.5vw;
  color: rgb(193, 189, 183);
  font-family: Arial, Helvetica, sans-serif;
}



@media (max-width: 750px) {
  footer {
    padding: 1.5vw;
    margin-bottom: 2.5vw;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "izquierdaArriba izquierdaAbajo"
      "derecha derecha";
    /* gap: 2vw; */
  }

  .footerIzq {
    grid-area: izquierdaArriba;
    width: 100%;
    padding: 0 0;
    /* border: dashed 2px darkblue; */
  }

  .footerIzq .nombre h1 {
    font-size: 3.4vw;
    /* text-align: center; */
  }

  .footerIzq .nombre h6 {
    display: none
  }

  .footerIzq .mail {
    /* display: none; */
    font-size: 2vw;
  }

  .footerIzq .whatsApp {
    font-size: 2vw;
  }



  .footerMedio {
    grid-area: izquierdaAbajo;
    /* border: red 2px solid; */
    width: 100%;
    justify-content: center;
    gap: 2vw;
  }

  .footerMedio i {
    font-size: 3.5vw;
  }

  .footerDer {
    grid-area: derecha;
    display: flex;
    align-items: center;
  }

  .footerDer img {
    width: 35vw;
    filter: brightness(0.3) invert(0);
  }

  .footerDer p {
    display: none;
  }

  .footerIzq .direcciones {
    font-size: 1.1vw;
    display: flex;
    gap: .5vw;
    flex-direction: column;
  }
}