footer {
  display: flex;
  min-height: 18vw;
  /* padding: 2vw 0vw; */
  justify-content: center;
  gap: 1vw;
  align-items: center;
  background-color: #671D49;
  color: rgb(217, 216, 192);
  font-family: "Montserrat", "Open Sans", sans-serif;


}

.footerIzq {
  display: flex;
  flex-direction: column;
  gap: .5vw;
  height: 100%;
  width: 30%;
}

.footerIzq a {
  text-decoration: none;
  color: rgb(217, 216, 192);

}

.titulo {
  font-size: 1.4vw;
  margin-bottom: 1.2vw;
}

.footerMedio {
  width: 30%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: end;
  /* border: wheat 2px dashed; */
  height: 100%;

}

.footerMedio div {
  display: flex;
  flex-direction: column;
  gap: .4vw;
  padding-right: 35%;
}

.footerMedio i {
  font-size: 2.5vw;

}

.footerMedio a {
  text-decoration: none;
  color: rgb(217, 216, 192);

}

.footerDer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 3vw;
  width: 30%;
  height: 100%;
  /* border: rebeccapurple dashed 3px; */
}

.footerDer .arriba {
  text-align: center;
}

.footerDer .arriba div {
  font-size: 2.3vw;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.footerDer .arriba div i {
  color: rgb(217, 216, 192);

}

.footerDer .abajo {
  /* border: 2px dashed navajowhite; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(207, 207, 207);
  font-size: 2vw;
}

.footerDer .abajo img {
  width: 20vw;
  filter: brightness(0.8) invert(0);
}

@media (max-width: 750px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    padding: 2vw 0;
  }

  .footerIzq {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: .5vw;
    width: 50%;
  }
  .titulo{
    font-size: 4vw;
    text-align: center;
  }
  .footerIzq .direccion , .mail, .telefono{
    display: none;
  }
  .footerMedio{
    display: none;
  }
  .footerDer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vw;
  width: 30%;
  height: 100%;
}

.footerDer .arriba {
  text-align: center;
}
.footerDer .arriba .titulo{
  display: none;
} 
.footerDer .arriba div {
  font-size: 6vw;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.footerDer .arriba div i {
  color: rgb(217, 216, 192);

}

.footerDer .abajo {
  /* border: 2px dashed navajowhite; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(207, 207, 207);
  font-size: 3vw;
}

.footerDer .abajo img {
  width: 40vw;
  filter: brightness(0.8) invert(0);
}

}