@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.historia {
    text-align: center;
    padding: 2vw 2vw;
    /* font-family: "Concert One", sans-serif; */
    color: aliceblue;
}