.historia {
    /* text-align: center; */
    padding: 1vw 1vw;
    background-color: aliceblue;
    color: rgb(42, 41, 41);
    font-size: 1.3vw;
}
.historia h2{
    text-align: center;
}
.historia .nosotros{
    /* border: red dashed 2px; */
    display: flex;
    justify-content: space-around;
    margin-top: 2vw;
}
.historia .nosotros div{
    width: 50%;
    /* border: red dashed 2px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around ;

}
.historia .nosotros video{
    /* border: red dashed 2px; */

    width: 45vw;
    border-radius: 5%;
}
@media (max-width: 576px) {
    .historia {
        font-size: 3vw;
        padding: 0;
        margin: 0;
    }
    .historia .nosotros div{
    width: 90%;

}
    .historia .nosotros video{
        display: none;
    }
}