@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

body {
  font-family: 'Raleway', sans-serif !important;
  background-image: url('/underConst.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

/* Estilos específicos para pantallas pequeñas */
@media (max-width: 768px) {
  body {
    background-size: contain;         /* La imagen se ajusta sin recortarse */
    background-position: center;  /* Se alinea al centro superior */
    background-repeat: no-repeat;
    background-color: rgb(31, 31, 31) !important;           /* Opcional: color de fondo de relleno */
  }
}
